language: java
sudo: false
script: mvn clean verify

after_success:
  - bash <(curl -s https://codecov.io/bash) -t f5e9a171-6ca3-494a-b393-4162e319f20a
env:
  global:
    - CODECOV_TOKEN=:f5e9a171-6ca3-494a-b393-4162e319f20a